extends layout

block content
    .container
        h1 漂流瓶
        br
        br
        .btn-group(role='group')
            button.btn.btn-primary.pick(type='button') 捞一下
            button.btn.btn-success.throw(type='button') 扔一个
        br
        br
        .show-msg
        .show-bottle.alert.alert-success
            div 捞到的瓶子：
            br
            .bottle-user 用户：
                span
            .bottle-content 内容：
                span
        #pick-modal.modal.fade(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title 填写个人信息
                    .modal-body
                        form.form-horizontal
                            .form-group
                                label.col-md-2.control-label 用户名
                                .col-md-10
                                    input.form-control(name='user' type='text')
                            .form-group
                                label.col-md-2.control-label 性别
                                .col-md-10
                                    label.radio-inline
                                        input(type='radio' name='type' value='male')
                                        span 男
                                    label.radio-inline
                                        input(type='radio' name='type' value='female')
                                        span 女
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button') 确定
        #throw-modal.modal.fade(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title 填写瓶子信息
                    .modal-body
                        form.form-horizontal
                            .form-group
                                label.col-md-2.control-label 用户名
                                .col-md-10
                                    input.form-control(name='owner' type='text')
                            .form-group
                                label.col-md-2.control-label 类型
                                .col-md-10
                                    label.radio-inline
                                        input(type='radio' name='type' value='male')
                                        span 扔给男生
                                    label.radio-inline
                                        input(type='radio' name='type' value='female')
                                        span 扔给女生
                            .form-group
                                label.col-md-2.control-label 内容
                                .col-md-10
                                    input.form-control(name='content' type='text')
                    .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button') 确定
block js
    script(src='/javascripts/script.js')